body {
    margin-block-start: 0;
}

.main-container {
    width: 700px;
    background-color: white;
}

.search-btn {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: cadetblue;
    cursor: pointer;
}

.search-bar {
    display: grid;
    grid-template-columns: 1fr auto;
}

.search-input::placeholder {
    padding-inline-start: 15px;
}

.stocks-list {
    padding: 0;
    margin-block-start: 5px;
}

.main-container ul li a {
    text-decoration: none;
    color: gray;
}

.stock-list-item {
    border-block-end: 1px solid gray;
    list-style: none;
    padding-block: 5px;
    display: flex;
    align-items: center;
    gap: 10px;

}

.main-container ul li img {
    height: 24px;
    width: 24px;

}

header ul li span {
    color: green;
}

.marquee {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 16px;


}

.marquee-content-1,
.marquee-content-2 {
    margin: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: 16px;
    min-width: 100%;
    animation: scroll 600s linear infinite;
    list-style-type: none;
}



.marquee:hover .marquee-content-1 {
    animation-play-state: paused;
}

.marquee:hover .marquee-content-2 {
    animation-play-state: paused;

}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 16px));
    }
}